<ul>
<% @results.each do |result| %>
  <li class='result'>
  <%= result.text %>
  </li>
<% end %>
</ul>

<!-- refactor me!!! -->
<%= form_for :search, url: searches_path do |f| %>
  <%= f.label :search_term %>
  <%= f.text_field :search_term, {:value => @search_term, :class => "search_term"} %>
  <%= f.submit 'Submit' %>
<% end %>
